<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegistrationCTL</servlet-name>
  	<display-name>RegistrationCTL</display-name>
  	<description></description>
  	<servlet-class>eventwebapp.controller.RegistrationCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCTL</servlet-name>
  	<display-name>LoginCTL</display-name>
  	<description></description>
  	<servlet-class>eventwebapp.controller.LoginCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutCTL</servlet-name>
  	<display-name>LogoutCTL</display-name>
  	<description></description>
  	<servlet-class>eventwebapp.controller.LogoutCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreaEventoCTL</servlet-name>
  	<display-name>CreaEventoCTL</display-name>
  	<description></description>
  	<servlet-class>eventwebapp.controller.CreaEventoCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MieiEventiCTL</servlet-name>
  	<display-name>MieiEventiCTL</display-name>
  	<description></description>
  	<servlet-class>eventwebapp.controller.MieiEventiCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AltriEventiCTL</servlet-name>
  	<display-name>AltriEventiCTL</display-name>
  	<description></description>
  	<servlet-class>eventwebapp.controller.AltriEventiCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MiePrenotazioniCTL</servlet-name>
  	<display-name>MiePrenotazioniCTL</display-name>
  	<description></description>
  	<servlet-class>eventwebapp.controller.MiePrenotazioniCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EventPageCTL</servlet-name>
  	<display-name>EventPageCTL</display-name>
  	<description></description>
  	<servlet-class>eventwebapp.controller.EventPageCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchCTL</servlet-name>
  	<display-name>SearchCTL</display-name>
  	<description></description>
  	<servlet-class>eventwebapp.controller.SearchCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Search1CTL</servlet-name>
  	<display-name>Search1CTL</display-name>
  	<description></description>
  	<servlet-class>eventwebapp.controller.Search1CTL</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegistrationCTL</servlet-name>
  	<url-pattern>/RegistrationCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCTL</servlet-name>
  	<url-pattern>/LoginCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutCTL</servlet-name>
  	<url-pattern>/LogoutCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreaEventoCTL</servlet-name>
  	<url-pattern>/CreaEventoCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MieiEventiCTL</servlet-name>
  	<url-pattern>/MieiEventiCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AltriEventiCTL</servlet-name>
  	<url-pattern>/AltriEventiCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MiePrenotazioniCTL</servlet-name>
  	<url-pattern>/MiePrenotazioniCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EventPageCTL</servlet-name>
  	<url-pattern>/EventPageCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchCTL</servlet-name>
  	<url-pattern>/SearchCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Search1CTL</servlet-name>
  	<url-pattern>/Search1CTL</url-pattern>
  </servlet-mapping>
    <welcome-file-list>
    <welcome-file>Registration.jsp</welcome-file>
</welcome-file-list>
</web-app>
